<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title, links)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:replace="${title}">레이아웃 타이틀</title>

    <!-- 공통 -->
    <link rel="stylesheet" type="text/css" medai="all" th:href="@{/css/awesomeapp.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <script type="text/javascript" th:src="@{/sh/scripts/codebasc.js}"></script>

    <!-- 추가 -->
    <th:block th:replace="${links}"/>
</head>
